@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35.172413793103445 44.61538461538455% 87.2549019607843%;
    --foreground: 228 8.771929824561402% 11.176470588235293%;
    --card: 240 11.111111111111104% 94.70588235294117%;
    --card-foreground: 228 8.771929824561402% 11.176470588235293%;
    --popover: 240 11.111111111111104% 94.70588235294117%;
    --popover-foreground: 228 8.771929824561402% 11.176470588235293%;
    --primary: 0 100.00000000000003% 74.90196078431373%;
    --primary-foreground: 228 8.771929824561402% 11.176470588235293%;
    --secondary: 277.71428571428567 99.99999999999997% 79.41176470588235%;
    --secondary-foreground: 228 8.771929824561402% 11.176470588235293%;
    --muted: 240 11.111111111111104% 94.70588235294117%;
    --muted-foreground: 228 8.771929824561402% 11.176470588235293%;
    --accent: 0 100.00000000000003% 74.90196078431373%;
    --accent-foreground: 228 8.771929824561402% 11.176470588235293%;
    --destructive: 0 84.23645320197042% 60.196078431372534%;
    --destructive-foreground: 0 0% 100%;
    --border: 35.172413793103445 44.61538461538455% 87.2549019607843%;
    --input: 33.75 31.999999999999968% 90.19607843137254%;
    --ring: 0 100.00000000000003% 74.90196078431373%;
    --chart-1: 0 100.00000000000003% 74.90196078431373%;
    --chart-2: 54 99.99999999999997% 76.47058823529412%;
    --chart-3: 277.71428571428567 99.99999999999997% 79.41176470588235%;
    --chart-4: 35.172413793103445 44.61538461538455% 87.2549019607843%;
    --chart-5: 228 8.771929824561402% 11.176470588235293%;

    --radius: 1rem;
  }

  .dark {
    --background: 35.172413793103445 44.61538461538455% 87.2549019607843%;
    --foreground: 228 8.771929824561402% 11.176470588235293%;
    --card: 240 11.111111111111104% 94.70588235294117%;
    --card-foreground: 228 8.771929824561402% 11.176470588235293%;
    --popover: 240 11.111111111111104% 94.70588235294117%;
    --popover-foreground: 228 8.771929824561402% 11.176470588235293%;
    --primary: 0 100.00000000000003% 74.90196078431373%;
    --primary-foreground: 228 8.771929824561402% 11.176470588235293%;
    --secondary: 277.71428571428567 99.99999999999997% 79.41176470588235%;
    --secondary-foreground: 228 8.771929824561402% 11.176470588235293%;
    --muted: 240 11.111111111111104% 94.70588235294117%;
    --muted-foreground: 228 8.771929824561402% 11.176470588235293%;
    --accent: 0 100.00000000000003% 74.90196078431373%;
    --accent-foreground: 228 8.771929824561402% 11.176470588235293%;
    --destructive: 0 84.23645320197042% 60.196078431372534%;
    --destructive-foreground: 0 0% 100%;
    --border: 35.172413793103445 44.61538461538455% 87.2549019607843%;
    --input: 33.75 31.999999999999968% 90.19607843137254%;
    --ring: 0 100.00000000000003% 74.90196078431373%;
    --chart-1: 0 100.00000000000003% 74.90196078431373%;
    --chart-2: 54 99.99999999999997% 76.47058823529412%;
    --chart-3: 277.71428571428567 99.99999999999997% 79.41176470588235%;
    --chart-4: 35.172413793103445 44.61538461538455% 87.2549019607843%;
    --chart-5: 228 8.771929824561402% 11.176470588235293%;

    --radius: 1rem;
  }
}

@layer utilities {
  .bg-gradient-primary {
    background: linear-gradient(
      135deg,
      hsl(var(--primary)) 0%,
      hsl(var(--secondary)) 100%
    );
  }

  .bg-gradient-accent {
    background: linear-gradient(
      135deg,
      hsl(var(--chart-2)) 0%,
      hsl(var(--accent)) 100%
    );
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
